@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
body{
    margin:0;
    font-family: 'Roboto Slab', serif;
}
:root{
    --primary-color:#3f6212;
    --blue-color: #bef264
}
.container {
    padding: 1%;
}
.container-center {
    max-width: 600px;
    margin:auto;
    text-align: center;
}
header{
    background-color: var(--blue-color);
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    padding-bottom: 0.rem;
}
textarea {
    width: 85%;
    display: block;
    margin: 1rem;
    height: 9vh;
    padding: 1rem;
}
header img {
    width:210px;
    color: var(--blue-color) ;
    
}
#txtOutput{
    border: 1px solid darkgrey;
    width: 85%;
    height: 10vh;
    margin: 1rem;
    padding: 1rem;
}
footer{
    height: 12vh;
    background-color:var(--blue-color) ;
}